:root{
    --background-color: #ffddb7;
    --header-color: #924c09;
}

*{
    font-family: "Roboto", sans-serif;
}

html,body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

body{
    background-color: var(--background-color);
}
